<div class="text-center">
  <h2>Welcome {{username}} to your Profile Page!</h2>

<h4>Orders</h4>
<section class="container-profile">
  {{#each orders as |order|}}
    <section class="card">
      <h5>Book: {{order.book.title}}</h5>
      <img src={{book.bookCover}} id="cart-img">
      <p>Qty: {{quantity}}</p>
      <p>Total: ${{total}} </p>
      <button class="btn btn1" data-id="{{order.id}}" id="order-update-delete-button" type="submit">Update or Delete Order</button>
    </section>
  {{/each}}
</section>

<h4>Comments</h4>
<section class="container-profile"> 
  {{#each comments as |comment|}}
    <section class="card card-comment">
    <h5>{{comment.book.title}}</h5>
      <p> {{body}}</p>
      <input type="hidden" id="comment-id" value="{{comment.id}}">
      <button class="btn btn1"id="update-delete-button" data-id="{{comment.id}}" type="submit">Update or Delete Comment</button> 
    </section>
  {{/each}}
</section>  

</div>
<script src="/js/profile.js"></script>