<div class=" mb-3 single-book-card" >
  <div class="row no-gutters card-body">
    <div class="col-md-4 card-title">
      <img src={{book.bookCover}} class="card-img card-title" alt="book cover" style="max-width: 200px">
    </div>
    <div class="col-md-8 card-body">
      <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
        <p class="card-text">By: {{book.author}}</p>
        <p class="card-text">Description: {{book.description}}</p>
        <p class="card-text"><small class="text-muted card-text">Price: ${{book.price}}</small></p>
      </div>
    </div>
  </div>
</div>


<section class="container">
{{#each book.comments as |comment|}}
  <section class="comment-card">
      <div class="card-body">
        <p class="card-text">{{comment.body}}</p>
        <p class="card-text"><small class="text-muted card-text">User: {{comment.user.username}}</small></p>

      </div>
  </section>
{{/each}}
</section>

<section class="container flex-column">
  <div class="comment-card-form">
    <form class="form comment-form" id="new-comment-form">
      <div>
        <input type="hidden" name="book_id" id="book_id" value="{{book.id}}" />
        <input type="hidden" name="user_id" id="user_id" value="{{user.id}}" />
        <label for"comment">Comment:</label>
        <textarea class="form-imput" type="text" id="comment"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn1" id="comment-btn" type="submit">Submit Comment</button>
      </div>
    </form>
  </div>

  <div class="addToCart-card">
    <form class="form comment-form" id="new-cart-form">
      <div>
        <input type="hidden" name="book1_id" id="book1_id" value="{{book.id}}" />
        <input type="hidden" name="book1_price" id="book1_price" value="{{book.price}}" />
        <input type="hidden" name="user_id" id="qty_user_id" value="{{user_id}}" />
        <label for"cart">Quantity:</label>
        <input class="form-input" type="text" id="quantity">
      </div>
      <div class="form-group">
        <button class="btn btn1" id="cart-btn" type="submit">Add to Cart</button>
      </div>
    </form>
  </div>
  </div>
</section>

  <script src='/js/comment.js'></script>